.product-builder-controls {
  float: left;
  width: 300px;
}
.product-builder-preview {
  float: right;
  width: calc(100% - 300px - 4em);
}
.overlay-box {
  position:relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 9999;
}
